In [5]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

from sklearn import preprocessing
from matplotlib import style
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
style.use('default')

In [8]:
df = pd.read_csv('e:/Train_1.csv', encoding= 'ansi')
x_row = df.iloc[:, :-1]
y_row = df.iloc[:, -1:]
x_row.shape

(6025, 71)

In [76]:
scaler = preprocessing.StandardScaler()
X_std = scaler.fit_transform(x_row)
y_std

In [77]:
forest = RandomForestRegressor(n_estimators= 1000, criterion= 'mse', 
                               random_state=1, n_jobs= -1)

In [78]:
forest.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=-1, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

In [11]:
#y_train_pred = forest.predict(X_train)
#y_test_pred = forest.predict(X_test)

In [12]:
#r2_train = r2_score(y_train, y_train_pred)
#r2_test = r2_score(y_test, y_test_pred)

In [13]:
#forest.score(X_train, y_train)

In [14]:
#score(X_test, y_test)

In [79]:
test = pd.read_csv('../Final_Test_v3.csv', encoding= 'ansi')

In [80]:
X_test = test.iloc[:, :-1]
y_test = test.iloc[:, -1:]
X.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X63,X64,X65,X66,X67,X68,X69,X70,X71,X72
0,1078154,556415,521736,63220,353808,235924,168800,157170,99228,1577,...,3.380276e+10,1784205,3.800171e+10,2117802,712,0,0,1,0,50.2
1,335201,175040,160162,12087,114949,77450,55264,50952,24502,1457,...,3.102697e+09,262604,2.483960e+09,209923,164,0,0,0,1,50.2
2,381295,223109,158185,8583,77033,100744,91333,71406,32198,1241,...,4.002332e+09,327271,2.345138e+09,186702,166,0,1,0,0,50.2
3,325601,182857,142744,10242,87783,81585,65761,55946,24282,1066,...,1.015827e+09,100601,8.502911e+08,80420,58,0,0,0,1,50.2
4,20972,10817,10155,802,8035,4558,2856,2961,1760,100,...,6.969485e+08,29640,7.983769e+08,27962,18,1,0,0,0,50.2

In [81]:
X_test_std = scaler.fit_transform(X_test)
y_test_std = scaler.fit_transform(y_test)

In [82]:
Y_prediction = forest.predict(X_test_std)

In [83]:
Y_prediction[:5]

array([-1.17996206, -1.17720792, -1.16854889, -1.13157725, -1.17167759])

In [84]:
Y_prediction_ = scaler.inverse_transform(Y_prediction)
Y_prediction_[:5]

array([2.96978651, 2.98357254, 3.02691579, 3.21197936, 3.01125487])

In [85]:
ff = pd.DataFrame(Y_prediction)

In [86]:
Y_pred = pd.DataFrame(Y_prediction_)
Y_real = pd.DataFrame(y_test)

In [87]:
result = pd.DataFrame()
result['Y_pred'] = Y_pred.values.flatten()
result['Y_real'] = Y_real.values.flatten()
result['Mean'] = result['Y_pred'] - result['Y_real']
result['Mean'] = result['Mean'].abs()
result.describe()

           Y_pred      Y_real        Mean
count  369.000000  369.000000  369.000000
mean     8.230859    8.876152    4.081684
std      2.737015    5.012352    4.003440
min      1.000701    2.100000    0.058511
25%      6.816087    4.700000    1.408397
50%      8.291743    7.900000    3.554618
75%     10.147341   13.800000    5.253521
max     15.027704   24.300000   23.299299