In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

from matplotlib import style
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [2]:
style.use('default')

In [3]:
df = pd.read_csv('data/DeepLearning_Data/Seoul_Vacancy_Rate_v6.csv', encoding= 'ansi')
df.head()

,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,남성_상주인구_수,여성_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수,총_직장_인구_수,남성_직장_인구_수,...,당월_매출_건수,주중_매출_금액,주말_매출_금액,남성_매출_금액,여성_매출_금액,주중_매출_건수,주말_매출_건수,점포수,임대료_전체,공실률
0,-0.382941,-0.395933,-0.367207,-0.873870,-0.834053,-0.904971,-0.515135,-0.829239,-0.326401,-0.288534,...,-0.288226,-0.313761,-0.267916,-0.343985,-0.269315,-0.298673,-0.249881,-0.260075,-0.066647,-1.374447
1,-0.219401,-0.204411,-0.231816,-0.929033,-0.878505,-0.939180,-0.515135,-0.864502,-0.350478,-0.313358,...,-0.093364,-0.107168,-0.089448,-0.049098,-0.149443,-0.097132,-0.080064,-0.185178,-0.066647,-1.374447
2,0.489636,0.598670,0.381259,0.116235,0.362101,0.122661,3.833139,-0.644465,4.793166,4.483470,...,0.991963,1.038786,0.218163,0.788370,0.379810,1.258679,0.332590,1.425124,-0.066647,-1.374447
3,-0.548467,-0.573487,-0.519811,-0.904987,-0.847524,-0.969284,-0.515135,-0.895533,-0.372206,-0.326518,...,-0.461357,-0.429478,-0.385894,-0.472458,-0.349983,-0.471186,-0.415728,-0.504594,-0.066647,-1.374447
4,-0.010546,0.029175,-0.048392,-1.368922,-1.374209,-1.396210,-0.515135,-1.335606,-0.148076,-0.104001,...,-0.003637,-0.053108,-0.306497,-0.193793,-0.215621,0.094473,-0.227681,-0.271090,-0.066647,-1.374447

In [4]:
df.shape

(2913, 25)

In [5]:
from sklearn.model_selection import train_test_split

X = df.iloc[:, :-1]
y = df.iloc[:, -1:]
X.head()

,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,남성_상주인구_수,여성_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수,총_직장_인구_수,남성_직장_인구_수,...,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,남성_매출_금액,여성_매출_금액,주중_매출_건수,주말_매출_건수,점포수,임대료_전체
0,-0.382941,-0.395933,-0.367207,-0.873870,-0.834053,-0.904971,-0.515135,-0.829239,-0.326401,-0.288534,...,-0.304227,-0.288226,-0.313761,-0.267916,-0.343985,-0.269315,-0.298673,-0.249881,-0.260075,-0.066647
1,-0.219401,-0.204411,-0.231816,-0.929033,-0.878505,-0.939180,-0.515135,-0.864502,-0.350478,-0.313358,...,-0.103289,-0.093364,-0.107168,-0.089448,-0.049098,-0.149443,-0.097132,-0.080064,-0.185178,-0.066647
2,0.489636,0.598670,0.381259,0.116235,0.362101,0.122661,3.833139,-0.644465,4.793166,4.483470,...,0.806575,0.991963,1.038786,0.218163,0.788370,0.379810,1.258679,0.332590,1.425124,-0.066647
3,-0.548467,-0.573487,-0.519811,-0.904987,-0.847524,-0.969284,-0.515135,-0.895533,-0.372206,-0.326518,...,-0.422182,-0.461357,-0.429478,-0.385894,-0.472458,-0.349983,-0.471186,-0.415728,-0.504594,-0.066647
4,-0.010546,0.029175,-0.048392,-1.368922,-1.374209,-1.396210,-0.515135,-1.335606,-0.148076,-0.104001,...,-0.129842,-0.003637,-0.053108,-0.306497,-0.193793,-0.215621,0.094473,-0.227681,-0.271090,-0.066647

In [6]:
y.head()

        공실률
0 -1.374447
1 -1.374447
2 -1.374447
3 -1.374447
4 -1.374447

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, 
                                                    random_state= 1)

In [8]:
X_train.shape

(2039, 24)

In [9]:
forest = RandomForestRegressor(n_estimators= 1000, criterion= 'mse', 
                               random_state=1, n_jobs= -1)

In [10]:
forest.fit(X_train, y_train)

C:\Users\Q\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=-1, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

In [11]:
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

In [12]:
r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

In [13]:
forest.score(X_train, y_train)

0.9502992464643799

In [14]:
forest.score(X_test, y_test)

0.6619453695359643

In [15]:
print('{:.3f}, {:.3f}'.format(r2_train, r2_test))

0.950, 0.662