In [1]:
import tensorflow as tf
tf.set_random_seed(777)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/DeepLearning_Data/Seoul_Vacancy_Rate_v4.csv', 
                 encoding= 'ansi')

In [4]:
df.head()

,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,남성_상주인구_수,여성_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수,총_직장_인구_수,남성_직장_인구_수,...,당월_매출_건수,주중_매출_금액,주말_매출_금액,남성_매출_금액,여성_매출_금액,주중_매출_건수,주말_매출_건수,점포수,임대료_전체,공실률
0,-0.382941,-0.395933,-0.367207,-0.873870,-0.834053,-0.904971,-0.515135,-0.829239,-0.326401,-0.288534,...,-0.288226,-0.313761,-0.267916,-0.343985,-0.269315,-0.298673,-0.249881,-0.260075,-0.066647,1.8
1,-0.219401,-0.204411,-0.231816,-0.929033,-0.878505,-0.939180,-0.515135,-0.864502,-0.350478,-0.313358,...,-0.093364,-0.107168,-0.089448,-0.049098,-0.149443,-0.097132,-0.080064,-0.185178,-0.066647,1.8
2,0.489636,0.598670,0.381259,0.116235,0.362101,0.122661,3.833139,-0.644465,4.793166,4.483470,...,0.991963,1.038786,0.218163,0.788370,0.379810,1.258679,0.332590,1.425124,-0.066647,1.8
3,-0.548467,-0.573487,-0.519811,-0.904987,-0.847524,-0.969284,-0.515135,-0.895533,-0.372206,-0.326518,...,-0.461357,-0.429478,-0.385894,-0.472458,-0.349983,-0.471186,-0.415728,-0.504594,-0.066647,1.8
4,-0.010546,0.029175,-0.048392,-1.368922,-1.374209,-1.396210,-0.515135,-1.335606,-0.148076,-0.104001,...,-0.003637,-0.053108,-0.306497,-0.193793,-0.215621,0.094473,-0.227681,-0.271090,-0.066647,1.8

In [5]:
x_data = df.iloc[:, :-1]
y_data = df.iloc[:, [-1]]

y_data.head()

   공실률
0  1.8
1  1.8
2  1.8
3  1.8
4  1.8

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size= 0.3, 
                                                    random_state= 1)

In [7]:
X = tf.placeholder(tf.float32, shape= [None, 42])
Y = tf.placeholder(tf.float32, shape= [None, 1])

In [8]:
W = tf.Variable(tf.random_normal([42, 1]), name= 'weight')
b = tf.Variable(tf.random_normal([1]), name= 'bias')

In [9]:
hypothesis = tf.matmul(X, W) + b

In [13]:
y_test.to_csv('y_test.csv')