In [1]:
import pandas as pd
import numpy as np

In [2]:
vacancy_df = pd.read_csv('../Train.csv', encoding= 'ansi')

In [3]:
print('데이터 세트의 Shape:', vacancy_df.shape)

데이터 세트의 Shape: (5772, 69)

In [4]:
vacancy_df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X60,X61,X62,X63,X64,X65,X66,X67,X68,Y
0,1078154,556415,521736,63220,353808,235924,168800,157170,99228,1577,...,4.821905e+10,2.646531e+10,2571027,1394990,3.380276e+10,1784205,3.800171e+10,2117802,712,50.2
1,335201,175040,160162,12087,114949,77450,55264,50952,24502,1457,...,4.232019e+09,1.922581e+09,327711,160862,3.102697e+09,262604,2.483960e+09,209923,164,50.2
2,381295,223109,158185,8583,77033,100744,91333,71406,32198,1241,...,4.643661e+09,2.334446e+09,363927,165091,4.002332e+09,327271,2.345138e+09,186702,166,50.2
3,325601,182857,142744,10242,87783,81585,65761,55946,24282,1066,...,1.393262e+09,6.328773e+08,126787,59312,1.015827e+09,100601,8.502911e+08,80420,58,50.2
4,20972,10817,10155,802,8035,4558,2856,2961,1760,100,...,1.080645e+09,4.755633e+08,41244,17543,6.969485e+08,29640,7.983769e+08,27962,18,50.2

In [5]:
#vacancy_df['Y'] = np.log1p(vacancy_df['Y'])

In [6]:
from scipy.stats import skew

In [7]:
# object가 아닌 숫자형 피쳐의 컬럼 index 객체 추출.
features_index = vacancy_df.dtypes[vacancy_df.dtypes != 'object'].index

# house_df에 컬럼 index를 [ ]로 입력하면 해당하는 컬럼 데이터 셋 반환. 
# apply lambda로 skew( )호출 
skew_features = vacancy_df[features_index].apply(lambda x : skew(x))

# skew 정도가 1 이상인 컬럼들만 추출.
skew_features_top = skew_features[skew_features > 1]

In [8]:
vacancy_df[skew_features_top.index] = np.log1p(vacancy_df[skew_features_top.index])

In [44]:
# skew_features_top.index[:-1]

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X12',
       'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X21', 'X22', 'X23',
       'X24', 'X25', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31', 'X32', 'X33',
       'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41', 'X42', 'X43',
       'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51', 'X52', 'X53',
       'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65', 'X66',
       'X67', 'X68'],
      dtype='object')

In [9]:
vacancy_df = pd.get_dummies(vacancy_df)

In [10]:
vacancy_df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X64,X65,X66,X67,X68,Y,X56_HH,X56_HL,X56_LH,X56_LL
0,13.890762,13.229271,13.164919,11.054392,12.776512,12.371269,12.036476,11.965090,11.505186,7.363914,...,24.243808,14.394484,24.360897,14.565890,6.569481,3.93574,0,0,1,0
1,12.722489,12.072776,11.983947,9.399969,11.652253,11.257401,10.919895,10.838659,10.106551,7.284821,...,21.855538,12.478406,21.633120,12.254501,5.105945,3.93574,0,0,0,1
2,12.851331,12.315420,11.971527,9.057655,11.252002,11.520348,11.422278,11.176151,10.379691,7.124478,...,22.110143,12.698547,21.575610,12.137274,5.117994,3.93574,0,1,0,0
3,12.693431,12.116465,11.868815,9.234350,11.382635,11.309413,11.093797,10.932160,10.097532,6.972606,...,20.738969,11.518927,20.561089,11.295031,4.077537,3.93574,0,0,0,1
4,9.950991,9.288967,9.225820,6.688355,8.991687,8.424859,7.957527,7.993620,7.473637,4.615121,...,20.362222,10.296914,20.498091,10.238637,2.944439,3.93574,1,0,0,0

In [11]:
vacancy_df.shape

(5772, 72)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import KFold
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

In [13]:
def get_stacking_base_datasets(model, X_train_n, y_train_n, X_test_n, n_folds ):
    # 지정된 n_folds값으로 KFold 생성.
    kf = KFold(n_splits=n_folds, shuffle=False, random_state=0)
    #추후에 메타 모델이 사용할 학습 데이터 반환을 위한 넘파이 배열 초기화 
    train_fold_pred = np.zeros((X_train_n.shape[0] ,1 ))
    test_pred = np.zeros((X_test_n.shape[0],n_folds))
    print(model.__class__.__name__ , ' model 시작 ')
    
    for folder_counter , (train_index, valid_index) in enumerate(kf.split(X_train_n)):
        #입력된 학습 데이터에서 기반 모델이 학습/예측할 폴드 데이터 셋 추출 
        print('\t 폴드 세트: ',folder_counter,' 시작 ')
        X_tr = X_train_n[train_index] 
        y_tr = y_train_n[train_index] 
        X_te = X_train_n[valid_index]  
        
        #폴드 세트 내부에서 다시 만들어진 학습 데이터로 기반 모델의 학습 수행.
        model.fit(X_tr , y_tr)       
        #폴드 세트 내부에서 다시 만들어진 검증 데이터로 기반 모델 예측 후 데이터 저장.
        train_fold_pred[valid_index, :] = model.predict(X_te).reshape(-1,1)
        #입력된 원본 테스트 데이터를 폴드 세트내 학습된 기반 모델에서 예측 후 데이터 저장. 
        test_pred[:, folder_counter] = model.predict(X_test_n)
            
    # 폴드 세트 내에서 원본 테스트 데이터를 예측한 데이터를 평균하여 테스트 데이터로 생성 
    test_pred_mean = np.mean(test_pred, axis=1).reshape(-1,1)    
    
    #train_fold_pred는 최종 메타 모델이 사용하는 학습 데이터, test_pred_mean은 테스트 데이터
    return train_fold_pred , test_pred_mean

In [14]:
y_target = vacancy_df['Y']
X_features = vacancy_df.drop('Y',axis= 1, inplace=False)

X_train, X_test, y_train, y_test = train_test_split(X_features, y_target, 
                                                    test_size= 0.2, random_state= 0)

In [15]:
X_train.shape, y_train.shape

((4617, 71), (4617,))

In [16]:
# get_stacking_base_datasets( )은 넘파이 ndarray를 인자로 사용하므로 DataFrame을 넘파이로 변환. 
X_train_n = X_train.values
X_test_n = X_test.values
y_train_n = y_train.values

In [17]:
def get_best_params(model, params):
    grid_model = GridSearchCV(model, param_grid=params, 
                              scoring='neg_mean_squared_error', cv=5)
    grid_model.fit(X_features, y_target)
    rmse = np.sqrt(-1* grid_model.best_score_)
    print('{0} 5 CV 시 최적 평균 RMSE 값: {1}, 최적 alpha:{2}'.format(model.__class__.__name__,
                                        np.round(rmse, 4), grid_model.best_params_))
    return grid_model.best_estimator_

In [18]:
ridge_reg = Ridge()
lasso_reg = Lasso()

ridge_params = { 'alpha':[0.05, 0.1, 1, 5, 8, 10, 12, 15, 20] }
lasso_params = { 'alpha':[0.001, 0.005, 0.008, 0.05, 0.03, 0.1, 0.5, 1,5, 10] }
best_rige = get_best_params(ridge_reg, ridge_params)
best_lasso = get_best_params(lasso_reg, lasso_params)

Ridge 5 CV 시 최적 평균 RMSE 값: 0.3372, 최적 alpha:{'alpha': 12}

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 119.11650113213784, tolerance: 0.0856279660834144
  positive)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 249.845595435625, tolerance: 0.08651588042994134
  positive)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 252.8917189109867, tolerance: 0.08648735908495979
  positive)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 194.28253628524408, tolerance: 0.08791323301736721
  positive)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 195.51163183226424, tolerance: 0.08788611797009324
  positive)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.2317640117131532, tolerance: 0.0856279660834144
  positive)

Lasso 5 CV 시 최적 평균 RMSE 값: 0.3392, 최적 alpha:{'alpha': 0.001}

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 272.4681533026631, tolerance: 0.10861568970998388
  positive)

In [19]:
ridge_reg = Ridge(alpha= 12)
lasso_reg = Lasso(alpha= 0.001)

In [20]:
xgb_reg = XGBRegressor(n_estimators=1000, learning_rate=0.05, 
                       colsample_bytree=0.5, subsample=0.8)
lgbm_reg = LGBMRegressor(n_estimators=1000, learning_rate=0.05, 
                         num_leaves=4, subsample=0.6, 
                         colsample_bytree=0.4, reg_lambda=10, 
                         n_jobs=-1)

In [21]:
ridge_train, ridge_test = get_stacking_base_datasets(ridge_reg, X_train_n, y_train_n, X_test_n, 5)
lasso_train, lasso_test = get_stacking_base_datasets(lasso_reg, X_train_n, y_train_n, X_test_n, 5)
xgb_train, xgb_test = get_stacking_base_datasets(xgb_reg, X_train_n, y_train_n, X_test_n, 5)  
lgbm_train, lgbm_test = get_stacking_base_datasets(lgbm_reg, X_train_n, y_train_n, X_test_n, 5)

Ridge  model 시작
	 폴드 세트:  0  시작
	 폴드 세트:  1  시작
	 폴드 세트:  2  시작
	 폴드 세트:  3  시작
	 폴드 세트:  4  시작
Lasso  model 시작
	 폴드 세트:  0  시작

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 166.53841923292643, tolerance: 0.07005775190333602
  positive)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 89.77276703868131, tolerance: 0.07137705312080045
  positive)

	 폴드 세트:  1  시작
	 폴드 세트:  2  시작

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 195.82246259421333, tolerance: 0.06781102486380773
  positive)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 162.87533497507803, tolerance: 0.07077940115233858
  positive)

	 폴드 세트:  3  시작

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 18.96296480347155, tolerance: 0.06969769407149219
  positive)

	 폴드 세트:  4  시작
XGBRegressor  model 시작
	 폴드 세트:  0  시작
[19:30:45] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
	 폴드 세트:  1  시작
[19:30:54] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
	 폴드 세트:  2  시작
[19:31:03] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
	 폴드 세트:  3  시작
[19:31:12] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
	 폴드 세트:  4  시작
[19:31:21] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
LGBMRegressor  model 시작
	 폴드 세트:  0  시작
	 폴드 세트:  1  시작
	 폴드 세트:  2  시작
	 폴드 세트:  3  시작
	 폴드 세트:  4  시작

In [22]:
# 개별 모델이 반환한 학습 및 테스트용 데이터 세트를 Stacking 형태로 결합.  
Stack_final_X_train = np.concatenate((ridge_train, lasso_train, 
                                      xgb_train, lgbm_train), axis=1)
Stack_final_X_test = np.concatenate((ridge_test, lasso_test, 
                                     xgb_test, lgbm_test), axis=1)

In [23]:
Stack_final_X_train.shape

(4617, 4)

In [24]:
# 최종 메타 모델은 라쏘 모델을 적용. 
meta_model_lasso = Lasso(alpha=0.0005)

#기반 모델의 예측값을 기반으로 새롭게 만들어진 학습 및 테스트용 데이터로 예측하고 RMSE 측정.
meta_model_lasso.fit(Stack_final_X_train, y_train)
final = meta_model_lasso.predict(Stack_final_X_test)
mse = mean_squared_error(y_test , final)
rmse = np.sqrt(mse)
print('스태킹 회귀 모델의 최종 RMSE 값은:', rmse)

스태킹 회귀 모델의 최종 RMSE 값은: 0.12746445808299067

In [25]:
meta_model_lasso.score(Stack_final_X_train, y_train)

0.9240733649505617

In [26]:
ridge_pred = ridge_reg.predict(X_test)
print('SCORE :', ridge_reg.score(X_test, y_test))
mse_ridge = mean_squared_error(y_test, ridge_pred)
rmse_ridge = np.sqrt(mse_ridge)
print('RMSE :', rmse_ridge)

SCORE : 0.38111086734844724
RMSE : 0.33681152743090076

In [27]:
lasso_pred = lasso_reg.predict(X_test)
print('SCORE :', lasso_reg.score(X_test, y_test))
mse_lasso = mean_squared_error(y_test, lasso_pred)
rmse_lasso = np.sqrt(mse_lasso)
print('RMSE :', rmse_lasso)

SCORE : 0.37668232396923695
RMSE : 0.33801442919298735

In [28]:
# xgb_reg.fit(X_train, y_train)

In [29]:
#xgb_pred = lgbm_reg.predict(X_test)

In [30]:
lgbm_pred = lgbm_reg.predict(X_test)
print('SCORE :', lgbm_reg.score(X_test, y_test))
mse_lgbm = mean_squared_error(y_test, lgbm_pred)
rmse_lgbm = np.sqrt(mse_lgbm)
print('RMSE :', rmse_lgbm)

SCORE : 0.7726052626159521
RMSE : 0.20416003113148645

In [31]:
#xgb_pred = xgb_reg.predict(X_test)
#print('SCORE :', xgb_reg.score(X_test, y_test))
#mse_xgb = mean_squared_error(y_test, xgb_pred)
#rmse_xgb = np.sqrt(mse_xgb)
#print('RMSE :', rmse_xgb)

# SCORE : 0.8889663977998432
# RMSE : 0.14266181115946364

In [32]:
lasso_reg.score(X_test, y_test)

0.37668232396923695

In [33]:
f = pd.DataFrame(final)
ff = np.expm1(f)
y = pd.DataFrame(y_test)
yy = np.expm1(y)

result = pd.DataFrame()
result['Y_pred'] = ff.values.flatten()
result['Y_real'] = yy.values.flatten()
result['Mean'] = result['Y_real'] - result['Y_pred']
result['Mean'] = result['Mean'].abs()
result.describe()

            Y_pred       Y_real         Mean
count  1155.000000  1155.000000  1155.000000
mean     46.386392    47.714632     4.576746
std      26.059538    30.913329    11.367391
min      20.072786    20.900000     0.001340
25%      31.197356    29.900000     1.214251
50%      42.983147    44.400000     2.718925
75%      53.350871    55.250000     5.213186
max     313.858737   295.100000   211.964068

In [34]:
result.head()

      Y_pred  Y_real       Mean
0  42.218688    43.7   1.481312
1  89.247594    84.0   5.247594
2  95.679045    84.2  11.479045
3  56.905508    68.4  11.494492
4  40.225948    46.5   6.274052

In [59]:
X_test_org = pd.read_csv('../임대료용/Test.csv', encoding= 'ansi')

In [60]:
skew_features_top_X = skew_features_top.index[:-1]

In [61]:
X_test_org[skew_features_top_X] = np.log1p(X_test_org[skew_features_top_X])
X_test_org.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X59,X60,X61,X62,X63,X64,X65,X66,X67,X68
0,12.064860,11.481094,11.248882,8.757312,10.870738,10.583575,10.375177,10.263013,9.582456,7.181592,...,12.250587,21.698286,20.955869,21.426379,21.193643,11.857933,11.125865,11.684557,11.347485,4.709530
1,12.251232,11.580621,11.535059,9.326255,10.727444,10.776578,10.707617,10.612139,9.863342,7.830028,...,11.414662,21.057119,20.254775,20.626697,20.341267,11.015690,10.302968,10.827766,10.358441,4.158883
2,13.079212,12.403669,12.368149,10.090465,11.334170,11.633833,11.603433,11.492304,10.836832,8.227910,...,12.880424,22.425986,21.341374,21.926343,21.962182,12.562074,11.580874,12.282316,11.990457,5.393628
3,13.890762,13.229271,13.164919,11.054392,12.776512,12.371269,12.036476,11.965090,11.505186,7.363914,...,15.193273,24.599020,23.999101,24.243808,24.360897,14.759816,14.148399,14.394484,14.565890,6.569481
4,11.286063,10.788308,10.349999,8.240913,10.378417,9.727883,9.522154,9.226706,8.057061,6.361302,...,12.752319,21.927523,20.778579,21.513374,21.246432,12.484537,11.303845,12.137847,11.858039,4.709530

In [63]:
X_test_ = pd.get_dummies(X_test_org)
X_test_.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X63,X64,X65,X66,X67,X68,X56_HH,X56_HL,X56_LH,X56_LL
0,12.064860,11.481094,11.248882,8.757312,10.870738,10.583575,10.375177,10.263013,9.582456,7.181592,...,21.193643,11.857933,11.125865,11.684557,11.347485,4.709530,0,0,0,1
1,12.251232,11.580621,11.535059,9.326255,10.727444,10.776578,10.707617,10.612139,9.863342,7.830028,...,20.341267,11.015690,10.302968,10.827766,10.358441,4.158883,1,0,0,0
2,13.079212,12.403669,12.368149,10.090465,11.334170,11.633833,11.603433,11.492304,10.836832,8.227910,...,21.962182,12.562074,11.580874,12.282316,11.990457,5.393628,0,0,0,1
3,13.890762,13.229271,13.164919,11.054392,12.776512,12.371269,12.036476,11.965090,11.505186,7.363914,...,24.360897,14.759816,14.148399,14.394484,14.565890,6.569481,0,0,1,0
4,11.286063,10.788308,10.349999,8.240913,10.378417,9.727883,9.522154,9.226706,8.057061,6.361302,...,21.246432,12.484537,11.303845,12.137847,11.858039,4.709530,0,0,1,0

In [64]:
X_test_n = X_test_.values

In [70]:
ridge_train_ = ridge_reg.predict(X_test_n).reshape(-1, 1)
lasso_train_ = lasso_reg.predict(X_test_n).reshape(-1, 1)
lgbm_train_ = lgbm_reg.predict(X_test_n).reshape(-1, 1)
xgb_train_ = xgb_reg.predict(X_test_n).reshape(-1, 1)

In [71]:
Stack_final_X_test = np.concatenate((ridge_train_, lasso_train_, 
                                     xgb_train_, lgbm_train_), axis=1)

In [72]:
final_ = meta_model_lasso.predict(Stack_final_X_test)

In [73]:
X_final = np.expm1(final_)

In [74]:
X_final_ = pd.DataFrame(X_final)

In [77]:
X_final_.to_csv('Result.csv', encoding= 'ansi')