In [1]:
import pandas as pd
import numpy as np

In [2]:
vacancy_df = pd.read_csv('data/Train_2_Stacking.csv', encoding= 'ansi')

In [3]:
print('데이터 세트의 Shape:', vacancy_df.shape)

데이터 세트의 Shape: (5641, 70)

In [4]:
vacancy_df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X61,X62,X63,X64,X65,X66,X67,X68,X69,Y
0,173660,96866,76793,6356,52613,39480,32053,28652,14507,1314,...,1.261880e+09,2.020032e+09,1.600597e+09,141199,67904,118723,84751,110,50.2,7.2
1,209238,107003,102237,11228,45589,47885,44694,40624,19212,2514,...,6.259459e+08,9.079470e+08,6.824956e+08,60820,29820,50400,31521,63,50.2,7.2
2,478882,243693,235189,24111,83630,112851,109472,97958,50859,3743,...,1.855414e+09,3.330348e+09,3.451869e+09,285521,107030,215844,161208,219,50.2,7.2
3,1078154,556415,521736,63220,353808,235924,168800,157170,99228,1577,...,2.646531e+10,3.380276e+10,3.800171e+10,2571027,1394990,1784205,2117802,712,50.2,7.2
4,79702,48450,31256,3792,32157,16778,13658,10164,3155,578,...,1.056871e+09,2.203635e+09,1.687361e+09,264219,81132,186809,141214,110,50.2,7.2

In [5]:
vacancy_df['Y'] = np.log1p(vacancy_df['Y'])

In [6]:
vacancy_df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X61,X62,X63,X64,X65,X66,X67,X68,X69,Y
0,173660,96866,76793,6356,52613,39480,32053,28652,14507,1314,...,1.261880e+09,2.020032e+09,1.600597e+09,141199,67904,118723,84751,110,50.2,2.104134
1,209238,107003,102237,11228,45589,47885,44694,40624,19212,2514,...,6.259459e+08,9.079470e+08,6.824956e+08,60820,29820,50400,31521,63,50.2,2.104134
2,478882,243693,235189,24111,83630,112851,109472,97958,50859,3743,...,1.855414e+09,3.330348e+09,3.451869e+09,285521,107030,215844,161208,219,50.2,2.104134
3,1078154,556415,521736,63220,353808,235924,168800,157170,99228,1577,...,2.646531e+10,3.380276e+10,3.800171e+10,2571027,1394990,1784205,2117802,712,50.2,2.104134
4,79702,48450,31256,3792,32157,16778,13658,10164,3155,578,...,1.056871e+09,2.203635e+09,1.687361e+09,264219,81132,186809,141214,110,50.2,2.104134

In [7]:
from scipy.stats import skew

In [8]:
# object가 아닌 숫자형 피쳐의 컬럼 index 객체 추출.
features_index = vacancy_df.dtypes[vacancy_df.dtypes != 'object'].index

# house_df에 컬럼 index를 [ ]로 입력하면 해당하는 컬럼 데이터 셋 반환. 
# apply lambda로 skew( )호출 
skew_features = vacancy_df[features_index].apply(lambda x : skew(x))

# skew 정도가 1 이상인 컬럼들만 추출.
skew_features_top = skew_features[skew_features > 1]

In [9]:
vacancy_df[skew_features_top.index] = np.log1p(vacancy_df[skew_features_top.index])

In [10]:
# skew_features_top.index[:-1]

In [11]:
skew_features_top.index

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11',
       'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21',
       'X22', 'X23', 'X24', 'X25', 'X26', 'X27', 'X28', 'X29', 'X30', 'X31',
       'X32', 'X33', 'X34', 'X35', 'X36', 'X37', 'X38', 'X39', 'X40', 'X41',
       'X42', 'X43', 'X44', 'X45', 'X46', 'X47', 'X48', 'X49', 'X50', 'X51',
       'X52', 'X53', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64',
       'X65', 'X66', 'X67', 'X68', 'X69'],
      dtype='object')

In [12]:
vacancy_df = pd.get_dummies(vacancy_df)

In [13]:
vacancy_df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X65,X66,X67,X68,X69,Y,X56_HH,X56_HL,X56_LH,X56_LL
0,12.064860,11.481094,11.248882,8.757312,10.870738,10.583575,10.375177,10.263013,9.582456,7.181592,...,11.125865,11.684557,11.347485,4.709530,3.93574,2.104134,0,0,0,1
1,12.251232,11.580621,11.535059,9.326255,10.727444,10.776578,10.707617,10.612139,9.863342,7.830028,...,10.302968,10.827766,10.358441,4.158883,3.93574,2.104134,1,0,0,0
2,13.079212,12.403669,12.368149,10.090465,11.334170,11.633833,11.603433,11.492304,10.836832,8.227910,...,11.580874,12.282316,11.990457,5.393628,3.93574,2.104134,0,0,0,1
3,13.890762,13.229271,13.164919,11.054392,12.776512,12.371269,12.036476,11.965090,11.505186,7.363914,...,14.148399,14.394484,14.565890,6.569481,3.93574,2.104134,0,0,1,0
4,11.286063,10.788308,10.349999,8.240913,10.378417,9.727883,9.522154,9.226706,8.057061,6.361302,...,11.303845,12.137847,11.858039,4.709530,3.93574,2.104134,0,0,1,0

In [14]:
vacancy_df.shape

(5641, 73)

In [15]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import KFold
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

In [16]:
def get_stacking_base_datasets(model, X_train_n, y_train_n, X_test_n, n_folds ):
    # 지정된 n_folds값으로 KFold 생성.
    kf = KFold(n_splits=n_folds, shuffle=False, random_state=0)
    #추후에 메타 모델이 사용할 학습 데이터 반환을 위한 넘파이 배열 초기화 
    train_fold_pred = np.zeros((X_train_n.shape[0] ,1 ))
    test_pred = np.zeros((X_test_n.shape[0],n_folds))
    print(model.__class__.__name__ , ' model 시작 ')
    
    for folder_counter , (train_index, valid_index) in enumerate(kf.split(X_train_n)):
        #입력된 학습 데이터에서 기반 모델이 학습/예측할 폴드 데이터 셋 추출 
        print('\t 폴드 세트: ',folder_counter,' 시작 ')
        X_tr = X_train_n[train_index] 
        y_tr = y_train_n[train_index] 
        X_te = X_train_n[valid_index]  
        
        #폴드 세트 내부에서 다시 만들어진 학습 데이터로 기반 모델의 학습 수행.
        model.fit(X_tr , y_tr)       
        #폴드 세트 내부에서 다시 만들어진 검증 데이터로 기반 모델 예측 후 데이터 저장.
        train_fold_pred[valid_index, :] = model.predict(X_te).reshape(-1,1)
        #입력된 원본 테스트 데이터를 폴드 세트내 학습된 기반 모델에서 예측 후 데이터 저장. 
        test_pred[:, folder_counter] = model.predict(X_test_n)
            
    # 폴드 세트 내에서 원본 테스트 데이터를 예측한 데이터를 평균하여 테스트 데이터로 생성 
    test_pred_mean = np.mean(test_pred, axis=1).reshape(-1,1)    
    
    #train_fold_pred는 최종 메타 모델이 사용하는 학습 데이터, test_pred_mean은 테스트 데이터
    return train_fold_pred , test_pred_mean

In [17]:
y_target = vacancy_df['Y']
X_features = vacancy_df.drop('Y',axis= 1, inplace=False)

X_train, X_test, y_train, y_test = train_test_split(X_features, y_target, 
                                                    test_size= 0.2, random_state= 0)

In [18]:
X_train.shape, y_train.shape

((4512, 72), (4512,))

In [19]:
# get_stacking_base_datasets( )은 넘파이 ndarray를 인자로 사용하므로 DataFrame을 넘파이로 변환. 
X_train_n = X_train.values
X_test_n = X_test.values
y_train_n = y_train.values

In [20]:
def get_best_params(model, params):
    grid_model = GridSearchCV(model, param_grid=params, 
                              scoring='neg_mean_squared_error', cv=5)
    grid_model.fit(X_features, y_target)
    rmse = np.sqrt(-1* grid_model.best_score_)
    print('{0} 5 CV 시 최적 평균 RMSE 값: {1}, 최적 alpha:{2}'.format(model.__class__.__name__,
                                        np.round(rmse, 4), grid_model.best_params_))
    return grid_model.best_estimator_

In [21]:
ridge_reg = Ridge()
lasso_reg = Lasso()

ridge_params = { 'alpha':[0.05, 0.1, 1, 5, 8, 10, 12, 15, 20] }
lasso_params = { 'alpha':[0.001, 0.005, 0.008, 0.05, 0.03, 0.1, 0.5, 1,5, 10] }
best_rige = get_best_params(ridge_reg, ridge_params)
best_lasso = get_best_params(lasso_reg, lasso_params)

Ridge 5 CV 시 최적 평균 RMSE 값: 0.5305, 최적 alpha:{'alpha': 5}

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 49.889215132583445, tolerance: 0.13738801820680951
  positive)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 61.54100839307489, tolerance: 0.13706293372992379
  positive)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 52.33846302564859, tolerance: 0.13804670617984663
  positive)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 129.59631270658053, tolerance: 0.1350031804087551
  positive)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 163.43628892672632, tolerance: 0.1435846412183295
  positive)

Lasso 5 CV 시 최적 평균 RMSE 값: 0.531, 최적 alpha:{'alpha': 0.005}

In [22]:
ridge_reg = Ridge(alpha= 1)
lasso_reg = Lasso(alpha= 0.005)

In [23]:
xgb_reg = XGBRegressor(n_estimators=1000, learning_rate=0.05, 
                       colsample_bytree=0.5, subsample=0.8)
lgbm_reg = LGBMRegressor(n_estimators=1000, learning_rate=0.05, 
                         num_leaves=4, subsample=0.6, 
                         colsample_bytree=0.4, reg_lambda=10, 
                         n_jobs=-1)

In [24]:
ridge_train, ridge_test = get_stacking_base_datasets(ridge_reg, X_train_n, y_train_n, X_test_n, 5)
lasso_train, lasso_test = get_stacking_base_datasets(lasso_reg, X_train_n, y_train_n, X_test_n, 5)
xgb_train, xgb_test = get_stacking_base_datasets(xgb_reg, X_train_n, y_train_n, X_test_n, 5)  
lgbm_train, lgbm_test = get_stacking_base_datasets(lgbm_reg, X_train_n, y_train_n, X_test_n, 5)

Ridge  model 시작
	 폴드 세트:  0  시작
	 폴드 세트:  1  시작
	 폴드 세트:  2  시작
	 폴드 세트:  3  시작
	 폴드 세트:  4  시작
Lasso  model 시작
	 폴드 세트:  0  시작
	 폴드 세트:  1  시작
	 폴드 세트:  2  시작
	 폴드 세트:  3  시작
	 폴드 세트:  4  시작
XGBRegressor  model 시작
	 폴드 세트:  0  시작
[16:23:38] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
	 폴드 세트:  1  시작
[16:23:48] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
	 폴드 세트:  2  시작
[16:23:57] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
	 폴드 세트:  3  시작
[16:24:06] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
	 폴드 세트:  4  시작
[16:24:16] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
LGBMRegressor  model 시작
	 폴드 세트:  0  시작
	 폴드 세트:  1  시작
	 폴드 세트:  2  시작
	 폴드 세트:  3  시작
	 폴드 세트:  4  시작

In [25]:
# 개별 모델이 반환한 학습 및 테스트용 데이터 세트를 Stacking 형태로 결합.  
Stack_final_X_train = np.concatenate((ridge_train, lasso_train, 
                                      xgb_train, lgbm_train), axis=1)
Stack_final_X_test = np.concatenate((ridge_test, lasso_test, 
                                     xgb_test, lgbm_test), axis=1)

In [26]:
Stack_final_X_train.shape

(4512, 4)

In [27]:
# 최종 메타 모델은 라쏘 모델을 적용. 
meta_model_lasso = Lasso(alpha=0.0005)

#기반 모델의 예측값을 기반으로 새롭게 만들어진 학습 및 테스트용 데이터로 예측하고 RMSE 측정.
meta_model_lasso.fit(Stack_final_X_train, y_train)
final = meta_model_lasso.predict(Stack_final_X_test)
mse = mean_squared_error(y_test , final)
rmse = np.sqrt(mse)
print('스태킹 회귀 모델의 최종 RMSE 값은:', rmse)

스태킹 회귀 모델의 최종 RMSE 값은: 0.22088187973365878

In [28]:
meta_model_lasso.score(Stack_final_X_train, y_train)

0.8332412602340415

In [29]:
ridge_pred = ridge_reg.predict(X_test)
print('SCORE :', ridge_reg.score(X_test, y_test))
mse_ridge = mean_squared_error(y_test, ridge_pred)
rmse_ridge = np.sqrt(mse_ridge)
print('RMSE :', rmse_ridge)

SCORE : 0.18003796657512094
RMSE : 0.4885086283461872

In [30]:
lasso_pred = lasso_reg.predict(X_test)
print('SCORE :', lasso_reg.score(X_test, y_test))
mse_lasso = mean_squared_error(y_test, lasso_pred)
rmse_lasso = np.sqrt(mse_lasso)
print('RMSE :', rmse_lasso)

SCORE : 0.11364087197076246
RMSE : 0.5079023564808741

In [31]:
# xgb_reg.fit(X_train, y_train)

In [32]:
#xgb_pred = lgbm_reg.predict(X_test)

In [33]:
lgbm_pred = lgbm_reg.predict(X_test)
print('SCORE :', lgbm_reg.score(X_test, y_test))
mse_lgbm = mean_squared_error(y_test, lgbm_pred)
rmse_lgbm = np.sqrt(mse_lgbm)
print('RMSE :', rmse_lgbm)

SCORE : 0.7145875492772014
RMSE : 0.2882118441864946

In [34]:
xgb_pred = xgb_reg.predict(X_test.values)
print('SCORE :', xgb_reg.score(X_test.values, y_test))
mse_xgb = mean_squared_error(y_test, xgb_pred)
rmse_xgb = np.sqrt(mse_xgb)
print('RMSE :', rmse_xgb)

# SCORE : 0.8889663977998432
# RMSE : 0.14266181115946364

SCORE : 0.7882771682789177
RMSE : 0.2482328273960665

In [35]:
f = pd.DataFrame(final)
ff = np.expm1(f)
y = pd.DataFrame(y_test)
yy = np.expm1(y)

result = pd.DataFrame()
result['Y_pred'] = ff.values.flatten()
result['Y_real'] = yy.values.flatten()
result['Mean'] = result['Y_real'] - result['Y_pred']
result['Mean'] = result['Mean'].abs()
result.describe()

            Y_pred       Y_real         Mean
count  1129.000000  1129.000000  1129.000000
mean      8.087963     8.256687     1.264818
std       4.108196     4.487980     1.253428
min       0.270131     0.200000     0.000778
25%       5.178539     5.100000     0.367738
50%       7.504804     7.600000     0.879356
75%      10.188653    11.000000     1.751024
max      21.686355    22.400000     9.877888